In [1]:
import pandas as df
import json
import csv

### Filtering Volcanoes To Countries on Map

In [2]:
volcanoes = df.read_csv('static/volcano.csv')

data = json.load(open('static/world-data.json'))

countries = []
for d in data['objects']['countries']['geometries']:
    countries.append(d['properties']['name'])

print(countries)

counts = volcanoes.value_counts('country').head(10)

missing_countries = []

filtered = volcanoes[~volcanoes.country.isin(countries)]
filtered.country.unique()


# popular_trees = list(counts.index)

# map = {}
# for i, tree in enumerate(popular_trees):
#     map[tree] = i

# with open("../static/species_indices.json", "w") as outfile: 
#     json.dump(map, outfile)

# popular_tree_species = trees[(trees.qSpecies.isin(popular_trees))]

# popular_tree_species.to_csv('../static/Popular_Trees.csv', index=False)

['Fiji', 'Tanzania', 'W. Sahara', 'Canada', 'United States', 'Kazakhstan', 'Uzbekistan', 'Papua New Guinea', 'Indonesia', 'Argentina', 'Chile', 'DR Congo', 'Somalia', 'Kenya', 'Sudan', 'Chad', 'Haiti', 'Dominican Rep.', 'Russia', 'Bahamas', 'Falkland Is.', 'Norway', 'Greenland', 'Fr. S. Antarctic Lands', 'Timor-Leste', 'South Africa', 'Lesotho', 'Mexico', 'Uruguay', 'Brazil', 'Bolivia', 'Peru', 'Colombia', 'Panama', 'Costa Rica', 'Nicaragua', 'Honduras', 'El Salvador', 'Guatemala', 'Belize', 'Venezuela', 'Guyana', 'Suriname', 'France', 'Ecuador', 'Puerto Rico', 'Jamaica', 'Cuba', 'Zimbabwe', 'Botswana', 'Namibia', 'Senegal', 'Mali', 'Mauritania', 'Benin', 'Niger', 'Nigeria', 'Cameroon', 'Togo', 'Ghana', "Côte d'Ivoire", 'Guinea', 'Guinea-Bissau', 'Liberia', 'Sierra Leone', 'Burkina Faso', 'Central African Rep.', 'Congo', 'Gabon', 'Eq. Guinea', 'Zambia', 'Malawi', 'Mozambique', 'eSwatini', 'Angola', 'Burundi', 'Israel', 'Lebanon', 'Madagascar', 'Palestine', 'Gambia', 'Tunisia', 'Algeria', 'Jordan', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Iraq', 'Oman', 'Vanuatu', 'Cambodia', 'Thailand', 'Laos', 'Myanmar', 'Vietnam', 'North Korea', 'South Korea', 'Mongolia', 'India', 'Bangladesh', 'Bhutan', 'Nepal', 'Pakistan', 'Afghanistan', 'Tajikistan', 'Kyrgyzstan', 'Turkmenistan', 'Iran', 'Syria', 'Armenia', 'Sweden', 'Belarus', 'Ukraine', 'Poland', 'Austria', 'Hungary', 'Moldova', 'Romania', 'Lithuania', 'Latvia', 'Estonia', 'Germany', 'Bulgaria', 'Greece', 'Turkey', 'Albania', 'Croatia', 'Switzerland', 'Luxembourg', 'Belgium', 'Netherlands', 'Portugal', 'Spain', 'Ireland', 'New Caledonia', 'Solomon Is.', 'New Zealand', 'Australia', 'Sri Lanka', 'China', 'Taiwan', 'Italy', 'Denmark', 'United Kingdom', 'Iceland', 'Azerbaijan', 'Georgia', 'Philippines', 'Malaysia', 'Brunei', 'Slovenia', 'Finland', 'Slovakia', 'Czechia', 'Eritrea', 'Japan', 'Paraguay', 'Yemen', 'Saudi Arabia', 'N. Cyprus', 'Cyprus', 'Morocco', 'Egypt', 'Libya', 'Ethiopia', 'Djibouti', 'Somaliland', 'Uganda', 'Rwanda', 'Bosnia and Herz.', 'Macedonia', 'Serbia', 'Montenegro', 'Kosovo', 'Trinidad and Tobago', 'S. Sudan']

array(['Antarctica', 'Undersea Features', 'Chile-Argentina',
       'Japan - administered by Russia', 'China-North Korea',
       'Colombia-Ecuador', 'Guatemala-El Salvador',
       'North Korea-South Korea', 'Dominica', 'Cape Verde',
       'Solomon Islands', 'Chile-Bolivia', 'Eritrea-Djibouti',
       'Syria-Jordan-Saudi Arabia', 'DR Congo-Rwanda', 'Comoros',
       'Grenada', 'Saint Kitts and Nevis', 'Ethiopia-Djibouti',
       'Ethiopia-Kenya', 'Uganda-Rwanda', 'Tonga', 'Burma (Myanmar)',
       'Armenia-Azerbaijan', 'Saint Lucia', 'El Salvador-Guatemala',
       'Samoa', 'Saint Vincent and the Grenadines', 'Mexico-Guatemala',
       'Chile-Peru'], dtype=object)

In [3]:
volcanoes_filtered = volcanoes[volcanoes.country.isin(countries)]
print(volcanoes_filtered.shape)
volcanoes_filtered.head()

(871, 26)

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303

### Joining Eruptions data to Volcano Data

In [4]:
#load eruptions
eruptions = df.read_csv('data/eruptions.csv')
eruptions.head()


cols_to_use = eruptions.columns.difference(volcanoes_filtered.columns)
print(cols_to_use)
volcanoes_erupted = df.merge(volcanoes_filtered, eruptions[cols_to_use], left_index=True, right_index=True, how='left')
volcanoes_erupted

Index(['area_of_activity', 'end_day', 'end_month', 'end_year',
       'eruption_category', 'eruption_number', 'evidence_method_dating',
       'start_day', 'start_month', 'start_year', 'vei'],
      dtype='object')

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,end_day,end_month,end_year,eruption_category,eruption_number,evidence_method_dating,start_day,start_month,start_year,vei
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,2.0,4.0,2020.0,Confirmed Eruption,22354,Historical Observations,23.0,3.0,2020.0,NaN
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,22.0,2.0,2020.0,Confirmed Eruption,22355,Historical Observations,22.0,2.0,2020.0,NaN
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,Guatemala,14.501,-90.876,3976,...,6.0,4.0,2020.0,Confirmed Eruption,22343,Historical Observations,10.0,2.0,2020.0,NaN
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,17.0,4.0,2020.0,Confirmed Eruption,22346,Historical Observations,31.0,1.0,2020.0,NaN
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,12.0,1.0,2020.0,Confirmed Eruption,22347,Historical Observations,12.0,1.0,2020.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,55.862,160.603,3057,...,19.0,5.0,1997.0,Confirmed Eruption,19851,Historical Observations,11.0,2.0,1997.0,3.0
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,México and Central America,Mexico,19.400,-100.250,3500,...,17.0,1.0,1997.0,Confirmed Eruption,15174,Historical Observations,16.0,1.0,1997.0,1.0
955,221020,Zubair Group,Shield,2013,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,15.050,42.180,191,...,31.0,12.0,1996.0,Confirmed Eruption,15790,Historical Observations,31.0,12.0,1996.0,1.0
956,221021,Zukur,Shield,Unknown,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,14.020,42.750,624,...,17.0,4.0,1997.0,Confirmed Eruption,16942,Historical Observations,26.0,12.0,1996.0,1.0
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,Canada and Western USA,USA (New Mexico),34.800,-108.000,2550,...,10.0,2.0,1997.0,Confirmed Eruption,14396,Historical Observations,16.0,12.0,1996.0,1.0

In [5]:
#drop columns
volcanoes_erupted = volcanoes_erupted.drop(columns = ["major_rock_2","major_rock_3","major_rock_4","major_rock_5", "minor_rock_1", "minor_rock_2", "minor_rock_3", "minor_rock_4", "minor_rock_5", "subregion", "eruption_number"])


volcanoes_erupted.columns

Index(['volcano_number', 'volcano_name', 'primary_volcano_type',
       'last_eruption_year', 'country', 'region', 'latitude', 'longitude',
       'elevation', 'tectonic_settings', 'evidence_category', 'major_rock_1',
       'population_within_5_km', 'population_within_10_km',
       'population_within_30_km', 'population_within_100_km',
       'area_of_activity', 'end_day', 'end_month', 'end_year',
       'eruption_category', 'evidence_method_dating', 'start_day',
       'start_month', 'start_year', 'vei'],
      dtype='object')

In [6]:
volcanoes_erupted.head()

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,latitude,longitude,elevation,tectonic_settings,...,area_of_activity,end_day,end_month,end_year,eruption_category,evidence_method_dating,start_day,start_month,start_year,vei
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",34.500,131.600,641,Subduction zone / Continental crust (>25 km),...,NaN,2.0,4.0,2020.0,Confirmed Eruption,Historical Observations,23.0,3.0,2020.0,NaN
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,-23.292,-67.618,6023,Subduction zone / Continental crust (>25 km),...,NaN,22.0,2.0,2020.0,Confirmed Eruption,Historical Observations,22.0,2.0,2020.0,NaN
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,14.501,-90.876,3976,Subduction zone / Continental crust (>25 km),...,NaN,6.0,4.0,2020.0,Confirmed Eruption,Historical Observations,10.0,2.0,2020.0,NaN
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,38.537,34.621,1683,Intraplate / Continental crust (>25 km),...,NaN,17.0,4.0,2020.0,Confirmed Eruption,Historical Observations,31.0,1.0,2020.0,NaN
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,46.206,-121.490,3742,Subduction zone / Continental crust (>25 km),...,NaN,12.0,1.0,2020.0,Confirmed Eruption,Historical Observations,12.0,1.0,2020.0,NaN

In [7]:
#calculate eruption length

volcanoes_erupted = volcanoes_erupted.dropna(subset=['end_year']) #drop end years that are na 

volcanoes_erupted['start_date'] = df.to_datetime(volcanoes_erupted['start_year'].astype(int).astype(str) + '-' + volcanoes_erupted['start_month'].astype(int).astype(str) + '-' + volcanoes_erupted['start_day'].astype(int).astype(str))
volcanoes_erupted['end_date'] = df.to_datetime(volcanoes_erupted['end_year'].astype(int).astype(str) + '-' + volcanoes_erupted['end_month'].astype(int).astype(str) + '-' + volcanoes_erupted['end_day'].astype(int).astype(str))

volcanoes_erupted['eruption_length'] = (volcanoes_erupted['end_date'] - volcanoes_erupted['start_date']).dt.days

volcanoes_erupted.head()

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,latitude,longitude,elevation,tectonic_settings,...,end_year,eruption_category,evidence_method_dating,start_day,start_month,start_year,vei,start_date,end_date,eruption_length
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",34.500,131.600,641,Subduction zone / Continental crust (>25 km),...,2020.0,Confirmed Eruption,Historical Observations,23.0,3.0,2020.0,NaN,2020-03-23,2020-04-02,10
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,-23.292,-67.618,6023,Subduction zone / Continental crust (>25 km),...,2020.0,Confirmed Eruption,Historical Observations,22.0,2.0,2020.0,NaN,2020-02-22,2020-02-22,0
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,14.501,-90.876,3976,Subduction zone / Continental crust (>25 km),...,2020.0,Confirmed Eruption,Historical Observations,10.0,2.0,2020.0,NaN,2020-02-10,2020-04-06,56
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,38.537,34.621,1683,Intraplate / Continental crust (>25 km),...,2020.0,Confirmed Eruption,Historical Observations,31.0,1.0,2020.0,NaN,2020-01-31,2020-04-17,77
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,46.206,-121.490,3742,Subduction zone / Continental crust (>25 km),...,2020.0,Confirmed Eruption,Historical Observations,12.0,1.0,2020.0,NaN,2020-01-12,2020-01-12,0

In [8]:
#create a field for number of erupions per volcano
print(len(volcanoes_erupted["volcano_name"].unique()))
print(len(eruptions["volcano_name"].unique()))
#more volcanoes in eruptions dataset than volcanoes_erupted

volcano_dict = {}
for i in volcanoes_erupted["volcano_name"]:
    volcano_dict[i] = 0
    
for i in volcano_dict:
    for j in eruptions["volcano_name"]:
        if i==j:
            volcano_dict[i]+=1
# print(volcano_dict)

print(sum(volcano_dict.values()))

volcanoes_erupted['num_eruptions'] = volcanoes_erupted['volcano_name'].map(volcano_dict)
volcanoes_erupted.head()

826
921
8596

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,latitude,longitude,elevation,tectonic_settings,...,eruption_category,evidence_method_dating,start_day,start_month,start_year,vei,start_date,end_date,eruption_length,num_eruptions
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",34.500,131.600,641,Subduction zone / Continental crust (>25 km),...,Confirmed Eruption,Historical Observations,23.0,3.0,2020.0,NaN,2020-03-23,2020-04-02,10,1
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,-23.292,-67.618,6023,Subduction zone / Continental crust (>25 km),...,Confirmed Eruption,Historical Observations,22.0,2.0,2020.0,NaN,2020-02-22,2020-02-22,0,0
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,14.501,-90.876,3976,Subduction zone / Continental crust (>25 km),...,Confirmed Eruption,Historical Observations,10.0,2.0,2020.0,NaN,2020-02-10,2020-04-06,56,8
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,38.537,34.621,1683,Intraplate / Continental crust (>25 km),...,Confirmed Eruption,Historical Observations,31.0,1.0,2020.0,NaN,2020-01-31,2020-04-17,77,5
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,46.206,-121.490,3742,Subduction zone / Continental crust (>25 km),...,Confirmed Eruption,Historical Observations,12.0,1.0,2020.0,NaN,2020-01-12,2020-01-12,0,15

In [9]:
#seeing volacano name counts between
print(eruptions["volcano_name"].value_counts())
# eruptions[eruptions["volcano_name"]=="Apo"].head()

print(volcanoes_filtered["volcano_name"].value_counts())
print(len(volcanoes_erupted[volcanoes_erupted["last_eruption_year"]=="Unknown"]))

# eruptions[eruptions["start_year"]=="Unkown"].head()
# volcanoes_filtered[volcanoes_filtered["volcano_name"]=="Apo"].head()

volcano_name
Etna                      241
Fournaise, Piton de la    194
Asosan                    186
Villarrica                164
Asamayama                 147
                         ...
Khaybar, Harrat             1
Mehetia                     1
Singkut                     1
Kupreanof                   1
Igwisi Hills                1
Name: count, Length: 921, dtype: int64
volcano_name
Azul, Cerro         2
Sumbing             2
San Cristobal       2
Flores              2
Papandayan          1
                   ..
Heard               1
Hekla               1
Helgrindur          1
Hell's Half Acre    1
Zuni-Bandera        1
Name: count, Length: 867, dtype: int64
262

In [10]:
#create a field for earliest known eruption year
early_year_dict={}
for i in volcanoes_erupted["volcano_name"]:
    early_year_dict[i] = "Unknown"

for i in early_year_dict:
    for j in eruptions["volcano_name"]:
        if i==j:
            temp = eruptions[eruptions["volcano_name"]==j]["start_year"]
            temp2 = volcanoes_erupted[volcanoes_erupted["volcano_name"]==j][["last_eruption_year"]]
            removed_unk = temp2[temp2["last_eruption_year"] != "Unknown"]
#             if "Unknown" in list(temp2["last_eruption_year"]):
#                 if len(removed_unk["last_eruption_year"])!=0:
#                     if min(temp) < min(removed_unk["last_eruption_year"].astype(float)):
#                         early_year_dict[j] = min(temp)
#                     else: 
#                         early_year_dict[j] = "Unknown"
            if len(removed_unk["last_eruption_year"])!=0:
                if min(temp) < min(removed_unk["last_eruption_year"].astype(int)):
                    early_year_dict[j] = int(min(temp))
                else:
                    early_year_dict[j] = int(min(removed_unk["last_eruption_year"].astype(int)))
 
print(early_year_dict)
zero_list=[]
for i in early_year_dict.items():
    if i[1] == "Unknown":
        zero_list.append(i)
        
print(len(zero_list))

{'Abu': -6850, 'Acamarachi': 'Unknown', 'Acatenango': -2710, 'Acigol-Nevsehir': -7810, 'Adams': -7050, 'Adatarayama': -8050, 'Adwa': 'Unknown', 'Afdera': 'Unknown', 'Agrigan': 1917, 'Agua': 'Unknown', 'Agua de Pau': -6750, 'Aguilera': -2610, 'Agung': 1808, 'Ahyi': 1979, 'Aira': -8050, 'Akademia Nauk': -5500, 'Akagisan': 'Unknown', 'Akan': -7050, 'Akita-Komagatake': -8800, 'Akita-Yakeyama': -3050, 'Akusekijima': 'Unknown', 'Akutan': -7620, 'Alaid': 1790, 'Alayta': 1907, 'Alcedo': 1953, 'Ale Bagu': 'Unknown', 'Alid': 'Unknown', 'Aliso': -2450, 'Alligator Lake': 'Unknown', 'Almolonga': 800, 'Alney-Chashakondzha': -660, 'Alu-Dalafilla': 2008, 'Alutu': -50, 'Amak': -2550, 'Amasing': 'Unknown', 'Ambae': 1530, 'Ambalatungan Group': 'Unknown', 'Ambang': 1845, 'Ambitle': -350, 'Ambre-Bobaomby': 'Unknown', 'Ambrym': 50, 'Amsterdam Island': 'Unknown', 'Amukta': 1770, 'Anatahan': 2003, 'Anaun': 'Unknown', 'Andahua-Orcopampa': -2110, 'Aneityum': 'Unknown', 'Aniakchak': -6300, 'Antillanca Volcanic Complex': -960, 'Antisana': 1728, 'Antofagasta Volcanic Field': 'Unknown', 'Antuco': -7750, 'Aogashima': -1800, 'Apagado': -590, 'Apaneca Range': 'Unknown', 'Apastepeque Field': 'Unknown', 'Apo': 'Unknown', 'Apoyeque': -4160, 'Aracar': 'Unknown', 'Aragats': 'Unknown', 'Ararat': -2450, 'Arayat': 'Unknown', 'Ardoukoba': 1978, 'Arenal': -5060, 'Arhab, Harra of': 200, 'Arjuno-Welirang': 1950, 'Arxan-Chaihe': 0, 'Asacha': 'Unknown', 'Asamayama': -7200, 'Ascension': 378, 'Askja': -8910, 'Asosan': -8050, 'Assab Volcanic Field': 'Unknown', 'Asuncion': 1690, 'Ata': -5050, 'Atacazo': -6910, 'Atka': 1812, 'Atlin Volcanic Field': 'Unknown', 'Atuel, Caldera del': 'Unknown', 'Auckland Volcanic Field': 1350, 'Augustine': -5420, 'Avachinsky': -6100, 'Azas Plateau': 'Unknown', 'Azufre, Cerro del': 'Unknown', 'Azul, Cerro': -950, 'Azumayama': -5700, 'Babuyan Claro': 1652, 'Bachelor': -5800, 'Bagana': 1842, 'Bakening': -7550, 'Baker': -7850, 'Bal Haf, Harra of': 'Unknown', 'Baluan': 'Unknown', 'Balut': 'Unknown', 'Banahaw': 'Unknown', 'Banda Api': 1586, 'Bandaisan': -7450, 'Barcena': 1952, 'Bardarbunga': -7100, 'Barkhatnaya Sopka': -3550, 'Barrier, The': -7710, 'Barva': -6050, 'Bas Dong Nai': 'Unknown', 'Batur': 1804, 'Bayuda Volcanic Field': 850, 'Belknap': -5050, 'Bely': 'Unknown', 'Bezymianny': -7050, 'Bibinoi': 'Unknown', 'Biliran': 1939, 'Billy Mitchell': 1030, 'Birk, Harrat al': 'Unknown', 'Bishoftu Volcanic Field': 'Unknown', 'Black Butte Crater Lava Field': -8400, 'Black Rock Desert': 1290, 'Blanca, Laguna': 'Unknown', 'Blanco, Cerro': -2300, 'Bogoslof': 1796, 'Bolshe-Bannaya': 'Unknown', 'Bolshoi Payalpan': 'Unknown', 'Bolshoi Semiachik': -6800, 'Bolshoi-Kekuknaysky': -5310, 'Bora-Bericcio': 'Unknown', 'Borawli': 'Unknown', 'Boset-Bericha': 'Unknown', 'Bouvet': -50, 'Bravo, Cerro': -4280, 'Brennisteinsfjoll': -9000, 'Bridge River Cones': 'Unknown', 'Bristol Island': 1823, 'Buldir': 'Unknown', 'Bulusan': -3050, 'Bunyaruguru': 'Unknown', 'Butajiri-Silti Field': 'Unknown', 'Buyan-Bratan': 'Unknown', 'Cabalían': 1820, 'Caburgua-Huelemolle': -5050, 'Cagua': 1860, 'Calabozos': 'Unknown', 'Calatrava Volcanic Field': -3600, 'Calbuco': -8460, 'Callaqui': 1751, 'Cameroon': -450, 'Camiguin': 1827, 'Camiguin de Babuyanes': 1857, 'Campi Flegrei': -8480, 'Campi Flegrei del Mar di Sicilia': -253, 'Candlemas Island': -1250, 'Carran-Los Venados': 1907, 'Carrizozo': -3250, 'Cayambe': -1800, 'Cayley Volcanic Field': 'Unknown', 'Cayutue-La Vigueria': -190, 'Ceboruco': 930, 'Central Island': 'Unknown', 'Cereme': 1698, 'Chacana': -8050, 'Chachani, Nevado': 'Unknown', 'Chachimbiro': -3740, 'Chaine des Puys': -7840, 'Cherpuk Group': -4550, 'Chichinautzin': -7930, 'Chichon, El': -6510, 'Chiginagak': 1852, 'Chikurachki': -9360, 'Chillan, Nevados de': -6890, 'Chinameca': 'Unknown', 'Chiquimula Volcanic Field': 'Unknown', 'Chirpoi': 1712, 'Chokaisan': -1050, 'Chyulu Hills': 1470, 'Cinnamon Butte': 'Unknown', 'Clear Lake': 'Unknown', 'Coatepeque Caldera': 'Unknown', 'Cochons, Ile aux': 'Unknown', 'Cofre de Perote': 1150, 'Colima': -7690, 'Colli Albani': 'Unknown', 'Comondu-La Purisima': 'Unknown', 'Concepcion': -770, 'Corbetti Caldera': 'Unknown', 'Cordon de Puntas Negras': 'Unknown', 'Corvo': 'Unknown', 'Cosiguina': 1500, 'Cotopaxi': -7690, 'Crater Basalt Volcanic Field': 'Unknown', 'Crater Lake': -5900, 'Craters of the Moon': -10060, 'Cuernos de Negros': 'Unknown', 'Cuicocha': -2550, 'Cuilapa-Barbarena': 'Unknown', 'Cumbal': 1877, 'Cumbres,  Las': -3920, 'Dabbahu': -5850, 'Dabbayra': 'Unknown', 'Dakataua': 653, 'Dama Ali': 1631, 'Damavand': -5350, 'Dariganga Volcanic Field': 'Unknown', 'Darwin': 210, 'Daun, Bukit': 'Unknown', 'Davis Lake': -2790, 'Dawson Strait Group': 1350, 'Dempo': 1817, 'Descabezado Grande': 1932, 'Devils Garden': 'Unknown', 'Dhamar, Harras of': 1937, 'Diamond Craters': -5610, 'Dieng Volcanic Complex': -6590, 'Diky Greben': -5700, 'Domuyo': 'Unknown', 'Dubbi': 1400, 'Dukono': 1550, 'Durango Volcanic Field': 'Unknown', 'Dzenzursky': 'Unknown', 'East Diamante': 'Unknown', 'Easter Island': 'Unknown', 'Ebeko': -390, 'Eburru, Ol Doinyo': 'Unknown', 'Ecuador': 1150, 'Edgecumbe': -7220, 'Edziza': -6520, 'Elbrus': 50, 'Elovsky': -7550, 'Emmons Lake': 'Unknown', 'Emuruangogolak': -8050, 'Endeavour Segment': -6930, 'Epi': 1920, 'Erciyes Dagi': -6880, 'Erta Ale': 1873, 'Esan': -6670, 'Esjufjoll': 'Unknown', 'Esteli': 'Unknown', 'Etna': -6190, 'Eyjafjallajokull': 550, 'Farallon de Pajaros': 1864, 'Fayal': 1672, 'Fentale': 1250, 'Fisher': -7420, 'Flores': -1200, 'Fort Portal': -2750, 'Fort Selkirk': 'Unknown', 'Fournaise, Piton de la': -2800, 'Fremrinamar': -4050, 'Frosty': 'Unknown', 'Fuego': -1580, 'Fuerteventura': 'Unknown', 'Fujisan': -8540, 'Fukue': -400, 'Furnas': -4570, 'Gabillema': 'Unknown', 'Gada Ale': 'Unknown', 'Galeras': -7050, 'Galunggung': -2250, 'Gamalama': 1510, 'Gamchen': -1650, 'Gamkonora': 1564, 'Garibaldi': -8060, 'Garibaldi Lake': 'Unknown', 'Garove': 'Unknown', 'Garua Harbour': 'Unknown', 'Gaua': 1962, 'Gedamsa': 'Unknown', 'Gede-Pangrango': 1747, 'Genovesa': 'Unknown', 'Ghegham Volcanic Ridge': -1900, 'Glacier Peak': -9675, 'Gloria, La': 'Unknown', 'Golden Trout Creek': -5550, 'Goodenough': 'Unknown', 'Gorely': -7400, 'Graciosa': -1950, 'Gran Canaria': -4670, 'Granada': 'Unknown', 'Grimsnes': -7750, 'Grimsvotn': -8230, 'Guagua Pichincha': -7000, 'Guazapa': 'Unknown', 'Guntur': 1690, 'Hachijojima': -8020, 'Hachimantai': -7900, 'Hainan Volcanic Field': 1883, 'Hakkodasan': -2850, 'Hakoneyama': -6000, 'Hakusan': -7550, 'Haleakala': -7950, 'Halla': -2830, 'Hanish': 'Unknown', 'Hargy': -5050, 'Harunasan': 450, 'Hasan Dagi': 'Unknown', 'Haut Dong Nai': 'Unknown', 'Haylan, Jabal': -1200, 'Healy': 1360, 'Heard': 1881, 'Hekla': -5850, 'Helgrindur': 'Unknown', "Hell's Half Acre": -3250, 'Hengill': -8350, 'Hierro': -4790, 'Hiuchigatake': -6050, 'Hodson': 'Unknown', 'Hofsjokull': 'Unknown', 'Hokkaido-Komagatake': -4600, 'Homa Mountain': 'Unknown', 'Hood': -4940, 'Hoodoo Mountain': -7050, 'Hromundartindur': 'Unknown', 'Hualalai': -7540, 'Huambo': -700, 'Huanquihue Group': 1750, 'Huaynaputina': -7750, 'Hudson, Cerro': -8010, 'Huequi': 1695, 'Hulubelu': 'Unknown', 'Hululais': 'Unknown', 'Humeros, Los': -4470, 'Iamalele': 'Unknown', 'Ibu': 1911, 'Iettunup': 'Unknown', 'Igwisi Hills': -10450, 'Ijen': -640, 'Iktunup': 'Unknown', 'Iliamna': -5050, 'Iliboleng': 1885, 'Ililabalekan': 'Unknown', 'Ilimuda': 'Unknown', 'Iliwerung': 1870, 'Illiniza': 'Unknown', 'Ilopango': 450, 'Imbabura': -5550, 'Imuruk Lake': 300, 'Indian Heaven': -6250, 'Infiernillo': -6890, 'Inielika': 1905, 'Inierie': -8050, 'Ioto': -850, 'Io-Torishima': 1664, 'Ipala': 'Unknown', 'Irazu': -640, 'Isabel, Isla': 'Unknown', 'Isarog': -3500, 'Ischia': -7550, 'Iskut-Unuk River Cones': -6830, 'Itasy Volcanic Field': -8301, 'Ithnayn, Harrat': 'Unknown', 'Iwakisan': -8050, 'Iwatesan': -6450, 'Ixtepeque': 'Unknown', 'Iya': 1559, 'Iyang-Argapura': 'Unknown', 'Iztaccihuatl': 'Unknown', 'Izu-Oshima': -8450, 'Izu-Tobu': -8050, 'Izu-Torishima': 1871, 'Jailolo': 'Unknown', 'Jan Mayen': 1350, 'Jatun Mundo Quri Warani': 'Unknown', 'Jayu Khota, Laguna': 'Unknown', 'Jefferson': -4500, 'Jingbo': -3550, 'Jom-Bolok': -5180, 'Jordan Craters': -1250, 'Kaikata Seamount': 'Unknown', 'Kaikohe-Bay of Islands': 400, 'Kaitoku Seamount': 1543, 'Kanaga': -7300, 'Kanlaon': 1866, 'Karang': 'Unknown', 'Karapinar Field': 'Unknown', 'Karkar': -7140, 'Karymsky': -6600, 'Katla': -6380, 'Katmai': 1912, 'Katwe-Kikorongo': 'Unknown', 'Kazbek': -4000, 'Kebeney': 'Unknown', 'Kekurny': 'Unknown', 'Kelimutu': 1865, 'Kell': 'Unknown', 'Keluo Group': 'Unknown', 'Kelut': -230, 'Kendang': 'Unknown', 'Kerguelen Islands': 'Unknown', 'Kerinci': 1838, 'Ketoi': 1843, 'Khanuy Gol': 'Unknown', 'Kharimkotan': 1713, 'Khaybar, Harrat': 650, 'Khodutka': -1050, 'Kikai': -4350, 'Kikhpinych': -2850, 'Kilauea': -4650, 'Kirishimayama': -7050, 'Kishb, Harrat': 'Unknown', 'Kita-Ioto': 1780, 'Klabat': 'Unknown', 'Klyuchevskoy': -3950, 'Kolokol Group': 1780, 'Kone': 1820, 'Korosi': 'Unknown', 'Korovin': 1829, 'Koshelev': -4550, 'Kostakan': -8050, 'Koussi, Emi': 'Unknown', 'Kozushima': -8050, 'Krafla': -8500, 'Krakatau': 250, 'Krasheninnikov': -8050, 'Krummel-Garbuna-Welcker': 150, 'Ksudach': -7900, 'Kuchinoerabujima': -9520, 'Kuchinoshima': -6750, 'Kujusan': -9160, 'Kula': 'Unknown', 'Kurikomayama': -3540, 'Kurile Lake': -7550, 'Kussharo': -5800, 'Kuttara': -8050, 'Kutum Volcanic Field': 'Unknown', 'Kuwae': 1430, 'Kverkfjoll': -7050, 'Laguna Caldera': 'Unknown', 'Lajas, Las': 'Unknown', 'Lamongan': 1799, 'Langila': 1878, 'Langjokull': -8600, 'Lanzarote': 500, 'Lascar': -7250, 'Lassen Volcanic Center': 800, 'Lawu': 1752, 'Lengai, Ol Doinyo': -1550, 'Leroboleng': 1873, 'Leutongey': 'Unknown', 'Level Mountain': 'Unknown', 'Licto': 'Unknown', 'Lihir': 'Unknown', 'Lipari': -5820, 'Ljosufjoll': -7050, 'Llaima': -7410, 'Lokon-Empung': 1375, 'Lolobau': 1100, 'Loloru': -6950, 'Long Island': -2040, 'Longgang Group': 350, 'Lonquimay': 1853, 'Lubukraya': 'Unknown', 'Lunayyir, Harrat': 1000, 'Ly Son Group': 'Unknown', 'Macauley': -4360, 'Madeira': -4500, 'Mahagnao': 'Unknown', 'Mahawu': 1788, 'Makushin': -6650, 'Maly Semyachik': -7550, 'Managlase Plateau': 'Unknown', 'Manam': 1616, 'Manda Hararo': 2007, 'Mandalagan': 'Unknown', 'Manzaz Volcanic Field': 'Unknown', 'Marapi': 1770, 'Mariñaqui, Laguna': 'Unknown', 'Marion Island': 1980, 'Mariveles': -2050, 'Markagunt Plateau': 1050, 'Maroa': -7050, 'Marra, Jebel': -2000, 'Marsabit': 'Unknown', 'Martin': -1750, 'Maruyama': -1700, 'Masaya': -4050, 'Mascota Volcanic Field': 'Unknown', 'Mashu': -5550, 'Matthew Island': 1828, 'Matutum': -400, 'Maule, Laguna del': -4450, 'Mauna Kea': -5150, 'Mauna Loa': -8050, 'Mayor Island': -6050, 'Meager': -410, 'Medicine Lake': -3190, 'Megata': -7050, 'Meidob Volcanic Field': -6050, 'Merapi': -8780, 'Merbabu': 1560, 'Meru': -5850, 'Methana': -258, 'Michinmahuida': -8400, 'Michoacan-Guanajuato': -7350, 'Midagahara': -7300, 'Milbanke Sound Group': 'Unknown', 'Milna': 1842, 'Milos': 140, 'Minami-Hiyoshi': 1975, 'Miravalles': -5050, 'Miyakejima': -6450, 'Mocho-Choshuenco': 1864, 'Moffett': -7850, 'Mojanda': 'Unknown', 'Mombacho': 'Unknown', 'Momotombo': -2550, 'Mono Lake Volcanic Field': 350, 'Mono-Inyo Craters': -6750, 'Montagu Island': 1996, 'Motlav': 'Unknown', 'Mundua': 'Unknown', 'Muria': -160, 'Mutnovsky': -7550, 'Myojinsho': 1869, 'Myokosan': -4750, 'Nabukelevu': -580, 'Nakanoshima': 1914, 'Namarunu': -6550, 'Nantaisan': -9540, 'Naolinco Volcanic Field': -1200, 'Naruko': -4400, 'Nasudake': -8550, 'Natib': 'Unknown', 'Negro, Cerro': 1850, 'Nejapa-Miraflores': -7430, 'Nemrut Dagi': -9950, 'Newer Volcanics Province': -5850, 'Niigata-Yakeyama': -1900, 'Niijima': -5950, 'Nikko-Shiranesan': -4150, 'Niseko': -4900, 'Nisyros': 1422, 'Norikuradake': -7700, 'North Vate': 'Unknown', 'Numazawa': -3400, 'NW Eifuku': 'Unknown', 'NW Rota-1': 2003, 'Nyambeni Hills': 'Unknown', 'Nyamuragira': 1550, 'Nyiragongo': 1884, 'Nylgimelkin': -3550, "O'a Caldera": 'Unknown', 'Ofu-Olosega': 1866, 'Okataina': -8050, 'Oki-Dogo': 'Unknown', 'Okmok': -6310, 'Oku Volcanic Field': 'Unknown', 'Ol Kokwe': 'Unknown', 'Olkaria': -6050, 'Olkoviy Volcanic Group': 'Unknown', 'Olot Volcanic Field': 'Unknown', 'Omanago Group': -3050, 'Ontakesan': 774, 'Opala': -3500, 'Oraefajokull': 1362, 'Orizaba, Pico de': -7530, 'Orosi': 'Unknown', 'Oshima-Oshima': -800, 'Osorezan': 1787, 'Osorno': -1710, 'Ostanets': 'Unknown', 'Otdelniy': 'Unknown', 'Pacaya': 400, 'Pagan': 1340, 'Paka': -7550, 'Palomo': 'Unknown', 'Paluweh': 1650, 'Pampa Luxsar': 'Unknown', 'Panarea': 'Unknown', 'Pantelleria': -7050, 'Papandayan': 1772, 'Patuha': 'Unknown', 'Pavlof': 1762, 'Payun Matru': -5050, 'Pelee': -8210, 'Penanggungan': 'Unknown', 'Perbakti-Gagak': -6450, 'Peuet Sague': 1918, 'Pico': 1562, 'Picos Volcanic System': -4040, 'Pilas, Las': 1528, 'Pinacate': 'Unknown', 'Pinatubo': -7460, 'Planchon-Peteroa': -5080, 'Platanar': 'Unknown', 'Poas': -7920, 'Pocdol Mountains': 'Unknown', 'Pogranychny': 'Unknown', 'Popocatepetl': -7150, 'Possession, Ile de la': 'Unknown', 'Prestahnukur': -7550, 'Prince Edward Island': 'Unknown', 'Protector Seamounts': 1962, 'Pular': 'Unknown', 'Pululahua': -4800, 'Puntiagudo-Cordon Cenizos': 1850, 'Purace': -160, 'Purico Complex': 'Unknown', 'Puyehue-Cordon Caulle': -5080, 'Quetrupillan': -11345, 'Quill, The': -6140, 'Quimsachata': -4450, 'Rabaul': 683, 'Rahat, Harrat': 641, 'Rainier': -8050, 'Ranakah': 1987, 'Ranau': 'Unknown', 'Raoul Island': -2000, 'Rasshua': 1846, 'Raung': 1586, 'Recheschnoi': 'Unknown', 'Reclus': -1830, 'Red Hill': -9850, 'Reporoa': 1180, 'Reventador': 1541, 'Reykjanes': -8000, 'Rincon de la Vieja': -1820, 'Rinjani': -600, 'Rota': 'Unknown', 'Ruapehu': -9850, 'Ruiz, Nevado del': -6660, 'Rumble III': 1958, 'Rungwe': -2050, 'Saba': 1640, 'Sabancaya': -6600, 'Salak': 1699, 'Salton Buttes': -290, 'Samsari Volcanic Center': 'Unknown', 'San Borja Volcanic Field': 'Unknown', 'San Cristobal': 1528, 'San Francisco Volcanic Field': 1075, 'San Luis, Isla': 'Unknown', 'San Pablo Volcanic Field': 1350, 'San Pedro-Pellado': 'Unknown', 'San Salvador': -1040, 'San Vicente': 'Unknown', 'Sanbesan': -3550, 'Sand Mountain Field': -5050, 'Sangay': 1628, 'Sangeang Api': 1512, 'Sano, Wai': 'Unknown', 'Santa Ana': 1520, 'Santa Cruz': 'Unknown', 'Santa Isabel': -5500, 'Santa Maria': 1902, 'Santiago': 1759, 'Santiago, Cerro': 'Unknown', 'Santorini': -1610, 'Sarychev Peak': 1765, 'Saunders': 1819, 'Sawad, Harra Es-': 1253, 'Seguam': -7300, 'Sekincau Belirang': 'Unknown', 'Semisopochnoi': 1772, 'Serdan-Oriental': 'Unknown', 'Serua': 1683, 'Sete Cidades': -3050, 'Seulawah Agam': 1510, 'Severny': -1550, 'Shasta': -8050, 'Sheveluch': -8500, 'Shiga': 'Unknown', 'Shikotsu': -6950, 'Shiretoko-Iozan': 850, 'Shishaldin': -7550, 'Sibualbuali': 'Unknown', 'Silali': -7050, 'Silay': 'Unknown', 'Silverthrone': 'Unknown', 'Sinabung': 810, 'Singkut': 1881, 'Singuil, Cerro': 'Unknown', 'Sirung': 1852, 'Slamet': 1772, 'Snezhniy': 'Unknown', 'Socorro': -3090, 'Soda Lakes': 'Unknown', 'Sollipulli': -920, 'Soputan': 1450, 'Sorikmarapi': 1829, 'Soufriere Guadeloupe': -7490, 'Soufriere Hills': -8050, 'Southern Thule': 1975, 'Spectrum Range': 'Unknown', 'St. Andrew Strait': -240, 'St. Helens': -2340, 'St. Michael': 'Unknown', 'Stromboli': -6050, 'Suchitan': 'Unknown', 'Sulu Range': 'Unknown', 'Sumaco': 1650, 'Sumbing': 1730, 'Sumisujima': 1672, 'Sundoro': 230, 'Suswa': 'Unknown', 'Suwanosejima': 1600, 'Taal': -3580, 'Taapaca': -7900, 'Taburete': 'Unknown', 'Tahual': 'Unknown', 'Tair, Jebel at': 1750, 'Taisetsuzan': -3200, 'Takaharayama': -4570, 'Talagabodas': 'Unknown', 'Talakmau': 'Unknown', 'Tanaga': -1050, 'Tandikat-Singgalang': 1889, 'Tangkoko-Duasudara': 1680, 'Tangkuban Parahu': -8020, 'Tao-Rusyr Caldera': -5550, 'Tarakan': 'Unknown', 'Taranaki': -7650, 'Taryatu-Chulutu': -2980, 'Tatun Volcanic Group': -4095, "Ta'u": 'Unknown', 'Taupo': -9460, 'Taveuni': -8040, 'Tecapa': 'Unknown', 'Tecuamburro': -960, 'Telica': 1527, 'Telomoyo': 'Unknown', 'Telong, Bur ni': 1837, 'Tenduruk Dagi': -550, 'Tenerife': -7550, 'Tengchong': -5750, 'Tengger Caldera': -5260, 'Tenorio': 'Unknown', 'Tepi': 'Unknown', 'Terceira': -6720, 'Theistareykir': -9500, 'Three Sisters': -7350, 'Tidore': 'Unknown', 'Tigre, El': 'Unknown', 'Tigre, Isla el': 'Unknown', 'Tilocalar': 'Unknown', 'Tindfjallajokull': 'Unknown', 'Tinguiririca': 1917, 'Tjornes Fracture Zone': 1867, 'Tlevak Strait-Suemez Is.': 'Unknown', 'Toba': 'Unknown', 'Todoko-Ranu': 'Unknown', 'Todra Volcanic Field': 'Unknown', 'Toh, Tarso': 'Unknown', 'Tokachidake': -2650, 'Tolbachik': -7600, 'Tolhuaca': -5857, 'Tolima, Nevado del': -7800, 'Toliman': 'Unknown', 'Toluca, Nevado de': -1350, 'Tombel Graben': 'Unknown', 'Tondano Caldera': 'Unknown', 'Tongariro': -9850, 'Torfajokull': -6050, 'Toshima': -4550, 'Tousside, Tarso': 'Unknown', 'Towada': -9490, 'Toya': -6550, 'Tralihue': 'Unknown', 'Trident': 1913, 'Tristan da Cunha': 1700, 'Trolon': 'Unknown', 'Tromen': 1751, 'Tullu Moje': 1775, 'Tungnafellsjokull': 'Unknown', 'Tunkin Depression': 'Unknown', 'Turrialba': -7260, 'Tutuila': 440, 'Tutupaca': 1780, 'Tuya Volcanic Field': 'Unknown', 'Tuzgle': 'Unknown', 'Tuzovsky': 'Unknown', 'Udina': 'Unknown', 'Udokan Plateau': -7290, 'Ugashik-Peulik': -6550, 'Uinkaret Field': 1100, 'Ukinrek Maars': -350, 'Uksichan': 'Unknown', 'Ulreung': -8750, 'Ungaran': 'Unknown', 'Unzendake': -4050, 'Uratman': 'Unknown', 'Ushkovsky': -7550, 'Usulutan': 'Unknown', 'Utila Island': 'Unknown', 'Uwayrid, Harrat': 640, 'Uzon': -5750, "Vailulu'u": 1973, 'Vaiyots-Sar': -2000, 'Vakinankaratra': 'Unknown', 'Valle, El': 'Unknown', 'Vernadskii Ridge': 'Unknown', 'Vestmannaeyjar': -8050, 'Victory': 1810, 'Visokiy': 'Unknown', 'Vitim Volcanic Field': 'Unknown', 'Voon, Tarso': 'Unknown', 'Voyampolsky': 'Unknown', 'Vulcano': -6550, 'Vulsini': -104, 'Wallis Islands': 'Unknown', 'Wapi Lava Field': -300, 'Washiba-Kumonotaira': 'Unknown', 'West Crater': -6110, 'West Eifel Volcanic Field': -8740, 'Westdahl': 1795, 'Whakaari/White Island': 1826, 'Whangarei': 'Unknown', 'Wilis': 'Unknown', 'Witori': -7510, 'Wrangell': 190, 'Wudalianchi': 1720, 'Yar, Jabal': 1810, 'Yavinsky': -4050, 'Yellowstone': -7400, 'Yojoa, Lake': 'Unknown', 'Yokoate-jima': 1835, 'Yokodake': -400, 'Yonemaru-Sumiyoshiike': -6250, 'Yoteizan': -3550, 'Yucamane': -1320, 'Yufu-Tsurumi': -200, 'Zacate Grande, Isla': 'Unknown', 'Zaozan [Zaosan]': -7600, 'Zaozerny': 'Unknown', 'Zapatera': 'Unknown', 'Zavaritsky': -850, 'Zimina': 'Unknown', 'Zitacuaro-Valle de Bravo': -3050, 'Zubair Group': 1824, 'Zukur': 'Unknown', 'Zuni-Bandera': -8710}
260

In [11]:
volcanoes_erupted['earliest_eruption_year'] = volcanoes_erupted['volcano_name'].map(early_year_dict)

volcanoes_erupted.head()

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,latitude,longitude,elevation,tectonic_settings,...,evidence_method_dating,start_day,start_month,start_year,vei,start_date,end_date,eruption_length,num_eruptions,earliest_eruption_year
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",34.500,131.600,641,Subduction zone / Continental crust (>25 km),...,Historical Observations,23.0,3.0,2020.0,NaN,2020-03-23,2020-04-02,10,1,-6850
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,-23.292,-67.618,6023,Subduction zone / Continental crust (>25 km),...,Historical Observations,22.0,2.0,2020.0,NaN,2020-02-22,2020-02-22,0,0,Unknown
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,14.501,-90.876,3976,Subduction zone / Continental crust (>25 km),...,Historical Observations,10.0,2.0,2020.0,NaN,2020-02-10,2020-04-06,56,8,-2710
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,38.537,34.621,1683,Intraplate / Continental crust (>25 km),...,Historical Observations,31.0,1.0,2020.0,NaN,2020-01-31,2020-04-17,77,5,-7810
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,46.206,-121.490,3742,Subduction zone / Continental crust (>25 km),...,Historical Observations,12.0,1.0,2020.0,NaN,2020-01-12,2020-01-12,0,15,-7050

In [12]:
#count na for a column
count=0
for i in volcanoes_erupted['vei'].isna():
    if i == True:
        count +=1
print(count)

45

In [21]:
volcanoes_erupted.value_counts('primary_volcano_type')
volcano_type_dict = {"Stratovolcano": "Stratovolcano", 
                     "Stratovolcano(es)": "Stratovolcano",
                        "Shield": "Shield volcano",
                        "Volcanic field": "Other",
                        "Pyroclastic cone(s)": "Cinder cone",
                        "Caldera": "Caldera",
                        "Complex": "Complex volcano",
                        "Shield(s)": "Shield volcano",
                        "Lava dome(s)": "Lava dome",
                        "Submarine":"Fissure",
                        "Fissure vent(s)": "Fissure",
                        "Caldera(s)": "Caldera",
                        "Compound": "Complex volcano",
                        "Maar(s)":"Other",
                        "Pyroclastic shield": "Shield volcano",
                        "Tuff cone(s)": "Cinder cone",
                        "Subglacial": "Other",
                        "Crater rows": "Other",
                        "Pyroclastic cone":"Cinder cone",
                        "Lava dome":"Lava dome",
                        "Stratovolcano?":"Stratovolcano",
                        "Lava cone(es)": "Cinder cone",
                        "Tuff cone": "Cinder cone",
                            "Lava cone(s)": "Cinder cone",
                        "Lava cone": "Cinder cone"}

volcanoes_erupted['volcano_type'] = volcanoes_erupted['primary_volcano_type'].map(volcano_type_dict)
print(volcanoes_erupted["volcano_type"].value_counts())

volcano_type
Stratovolcano      393
Shield volcano     106
Other               83
Cinder cone         75
Caldera             68
Complex volcano     51
Fissure             29
Lava dome           25
Name: count, dtype: int64

In [22]:
#volcanoes_erupted.to_csv("volcanoes_filtered4.csv", encoding='utf-8')

### Create Grouped Dataset for Spider Graph

In [143]:
#interested columns
cols = ['primary_volcano_type', "eruption_length", "elevation", 
          "tectonic_settings","population_within_5_km",  
          "vei", "latitude",  "longitude"]

In [144]:
#encode primary_volcano__type, tectonic_settings

In [145]:
#calculate total number of volcanoes 
subset = volcanoes_erupted[["country", "eruption_length", "elevation", 
          "population_within_5_km",  
          "vei"]]

subset.head()

         country  eruption_length  elevation  population_within_5_km  vei
0          Japan               10        641                    3597  NaN
1          Chile                0       6023                       0  NaN
2      Guatemala               56       3976                    4329  NaN
3         Turkey               77       1683                  127863  NaN
4  United States                0       3742                       0  NaN

In [146]:
#GROUP volcanoes by country and take average values
grouped_volcanoes = subset.groupby(by="country").mean().reset_index()
grouped_volcanoes.head()

     country  eruption_length    elevation  population_within_5_km       vei
0    Algeria       150.000000  1672.000000             1196.000000  2.000000
1  Argentina        91.214286  3608.142857               98.500000  1.785714
2    Armenia       515.000000  3422.333333           432210.000000  2.333333
3  Australia       187.500000  1878.000000           305180.500000  2.500000
4    Bolivia       112.000000  4877.000000              222.666667  2.000000

In [147]:
#calculate total number of volcanoes in each country
country_counts = []

for i in range(len(grouped_volcanoes["country"])):
    country_counts.append(0)
    for j in volcanoes_erupted["country"]:
        if grouped_volcanoes["country"][i]==j:
            country_counts[i]+=1
            
print(country_counts)
grouped_volcanoes["num_volcanoes"] = country_counts
grouped_volcanoes.head()

[1, 14, 3, 2, 3, 3, 17, 4, 41, 7, 7, 10, 2, 1, 25, 14, 3, 25, 2, 10, 2, 1, 4, 16, 4, 27, 89, 1, 11, 88, 15, 3, 25, 3, 2, 16, 16, 1, 2, 1, 26, 8, 26, 11, 76, 8, 2, 2, 7, 4, 1, 4, 8, 3, 10, 93, 8, 3, 9]

,country,eruption_length,elevation,population_within_5_km,vei,num_volcanoes
0,Algeria,150.000000,1672.000000,1196.000000,2.000000,1
1,Argentina,91.214286,3608.142857,98.500000,1.785714,14
2,Armenia,515.000000,3422.333333,432210.000000,2.333333,3
3,Australia,187.500000,1878.000000,305180.500000,2.500000,2
4,Bolivia,112.000000,4877.000000,222.666667,2.000000,3

In [148]:
#re-joining the data to get country
country_data = df.merge(eruptions, volcanoes_erupted[["volcano_number","country"]], on = ["volcano_number"], how="left")
print(country_data.shape)

#na values for countries in joined data beause not in
count=0
for i in country_data['country'].isna():
    if i == True:
        count +=1
print(count)

country_data = country_data[~country_data["country"].isna()] 

print(len(volcanoes_erupted["volcano_name"].unique()))
print(len(eruptions["volcano_name"].unique())) #volcano names that dont have country data
print(country_data.shape)

(11178, 16)
2585
826
921
(8593, 16)

In [149]:
#calculate number of eruptions in each country 
eruption_counts = []

for i in range(len(grouped_volcanoes["country"])):
    eruption_counts.append(0)
    for j in country_data["country"]:
        if grouped_volcanoes["country"][i]==j:
            eruption_counts[i]+=1
            
print(eruption_counts)
print(sum(eruption_counts))
print(grouped_volcanoes.shape)
grouped_volcanoes["num_eruptions"] = eruption_counts
grouped_volcanoes.head()

[0, 7, 3, 17, 0, 21, 18, 0, 347, 11, 120, 185, 69, 1, 239, 30, 4, 26, 37, 285, 2, 2, 20, 135, 0, 490, 1173, 1, 377, 1582, 31, 2, 210, 1, 4, 322, 231, 0, 10, 0, 199, 28, 131, 67, 819, 7, 2, 7, 69, 8, 2, 37, 43, 2, 39, 995, 111, 0, 14]
8593
(59, 6)

,country,eruption_length,elevation,population_within_5_km,vei,num_volcanoes,num_eruptions
0,Algeria,150.000000,1672.000000,1196.000000,2.000000,1,0
1,Argentina,91.214286,3608.142857,98.500000,1.785714,14,7
2,Armenia,515.000000,3422.333333,432210.000000,2.333333,3,3
3,Australia,187.500000,1878.000000,305180.500000,2.500000,2,17
4,Bolivia,112.000000,4877.000000,222.666667,2.000000,3,0

In [150]:
# grouped_volcanoes.to_csv("grouped_volcanoes.csv", encoding='utf-8')